@page "/createexam"

<PageTitle>Conduct Exam</PageTitle>
@using ExamManagementSystem.Data
@using System.Security.Principal
@inject ExamManagementSystem.Service.Service ExamService
@inject NavigationManager UriHelper
@inject AuthenticationStateProvider AuthProvider

<div>
    Start Time <input class="form-control" type="time" @bind="exam.StartTime" />
    End Time <input class="form-control" type="time" @bind="exam.EndTime" />
    Date <input class="form-control" type="date" @bind="exam.Date" />
    <br />
    <button class="btn btn-success" @onclick="Save">Save</button>
</div>
@code {
    Exam exam;
    protected override async Task OnInitializedAsync()
    {
        this.exam = new Exam();
        var authstate = await AuthProvider.GetAuthenticationStateAsync();
        var user = authstate.User;
        var id = user.Claims.Where(x => x.Type == System.Security.Claims.ClaimTypes.NameIdentifier.ToString()).Select(x => x.Value).FirstOrDefault();
        this.exam.TeacherId = id;
    }
    private void Save()
    {
        ExamService.SaveExam(exam);
        UriHelper.NavigateTo("/exams");
    }
}
