@page "/"

<PageTitle>Home</PageTitle>

<h1>Exam Management System</h1>

Demo contains :
<h6>Data Binding</h6>
<h6>Component communcation</h6>
<h6>Routing</h6>

<h6>Download scorecard </h6>
<h6>File Logging </h6>
<h6>Exception Handling</h6>
<h6>OOPS Concepts</h6>

<h6>SignalR</h6>
@*<!--<SurveyPrompt Title="How is Blazor working for you?" />-->*@
