@page "/"

<PageTitle>Home</PageTitle>

<h1>Exam Management System</h1>

Demo contains :
<h6>Data Binding</h6>
<h6>component fg</h6>
<h6>Routing</h6>

@*<!--<SurveyPrompt Title="How is Blazor working for you?" />-->*@
